.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 42vw;  
    padding-top: 4rem;
    overflow: visible;
}

.right-image {
    width: 10vw;
    padding: 15px;
    display: block;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.right-image:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.25);
}